.project a {
  text-decoration: none;
  color: inherit;
}

.project a:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.project-embed {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.project-embed iframe {
  border: 2px solid #ff6700; /* Optional border for the iframe */
  border-radius: 8px;
}
